.recipe {
  background-color: beige;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  height: 550px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.list {
  width: 30%;
  height: 100%;
}

h3 {
  font-weight: normal;
  text-align: left;
  padding-left: 10px;
  padding-top: 15px;
}

.list p {
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.list p:hover {
  background-color: rgba(128, 128, 128, 0.299);
}

.desc {
  width: 70%;
  padding-left: 10px;
  overflow-y: scroll;
}

.desc h2 {
  padding-top: 10px;
  font-weight: normal;
}

.review {
  border-top: 1px solid black;
}

.desc1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc1 p {
  margin-right: 20px;
  padding: 5px 5px;
}

.e:hover {
  background-color: rgba(128, 128, 128, 0.406);
}

.desc1 h2 {
  padding: 0px;
}

.addrecipe {
  display: none;
}

.addrecipe1 {
  position: absolute;
  display: block;
  width: 93%;
  height: 92%;
  background-color: rgba(128, 128, 128, 0.865);
  border-radius: 10px;
  margin: auto;
}

.mainform {
  background-color: beige;
  width: 70%;
  height: 80%;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
  overflow-y: scroll;
}

.mainform button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.ing img {
  padding-top: 5px;
}

.ing img:hover {
  background-color: rgba(128, 128, 128, 0.45);
}
